* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: #333;
    transition: all 0.3s ease;
}

.navbar {
    border-bottom: 1px solid #ddd;
}

.navbar-brand {
    letter-spacing: 0.5px;
}

.navbar img {
    object-fit: cover;
}

.card {
    border: none;
    border-radius: 12px;
}

.card-title {
    font-weight: 600;
}

.btn {
    border-radius: 50px;
    transition: all 0.3 ease;
}

.btn i {
    margin-right: 6px;
}

.btn:hover {
    transform: translateY(-2px);
}

.table {
    border-radius: 12px;
    overflow: hidden;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

#emptyMsg {
    font-style: italic;
}
